@model PoS.Models.Discount

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Discount</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            Fixed @Html.RadioButtonFor(model => model.Type, "Fixed")
            Percentage @Html.RadioButtonFor(model => model.Type, "Percentage")
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FixedAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FixedAmount)
            @Html.ValidationMessageFor(model => model.FixedAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PercentAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PercentAmount)
            @Html.ValidationMessageFor(model => model.PercentAmount)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Register", "Index", "Register")
</div>
